<style>
body {background-color: black;}
h1   {color: white;}
p    {color: red;}
</style>

<% 3.times do %>
    <h1>Hola Mundo</h1>
<% end %>
<%= @name%>
<%= @name%>
<%= @name2%>

<%= link_to "Ir al home", home_path %>
redirect_to "http://www.google.com/"